## Day - 2 : Pattterns

In [11]:
#1. Simple square
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [12]:
#for all programs
n = 5

In [13]:
#2. Simple right angled triangle
for i in range(n):
    for j in range(i+1): # here in pyramid every row has one more star than its index
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [14]:
#3. Inverted right angled triangle
for i in range(n):
    for j in range(i,n): # values print from left to right so i,n
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [15]:
#4. left sided triangle
for i in range(n):
    for j in range(i,n):
            print(" ", end = " ")
    for j in range(i+1):
            print("*", end = " ")

    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [16]:
#5. inverted left sided triangle
for i in range(n):
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n):
        print("*", end = " ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [17]:
#6. pyramid
for i in range(n):
    for j in range(i,n):
        print(" ", end=" ")
    for j in range(i):
        print("*", end=" ")
    for j in range(i+1):
        print("*", end = " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [18]:
#6. inverted pyramid
for i in range(n):
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n):
        print("*", end = " ")
    for j in range(i,n-1): 
        print("*", end = " ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [19]:
for i in range(n):
    for j in range(i+1):
        print("*", end = " ")
    print()
for i in range(n-1):
    for j in range(i,n-1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [20]:
for i in range(n):
    for j in range(i,n):
        print("1",end=" ")
    print()

1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

In [22]:
num=1
for i in range(4):
    for j in range(i,4):
        print(num, end = "   ")
        num+=1
    print()

1   2   3   4
5   6   7
8   9
10

In [21]:
# Floydâ€™s Triangle
num = 1
for i in range(n):
    for j in range(i+1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [23]:
for i in range(n):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [27]:
num = 1
a = 4
for i in range(a):
    for j in range(i,a):
        print("  ", end = "  ")
    for j in range(i+1):
        print(num, end = "  ")
        num += 1
    for j in range(i):
        print(num, end = "  ")
        num += 1
    print()

                1
            2  3  4
        5  6  7  8  9
    10  11  12  13  14  15  16

In [31]:
a = 3
for i in range(a):
    for j in range(i,a):
        print(" ", end = " ")
    for j in range(i+1):
        print(j+1, end = " ")
    for j in range(i):
        print(j+1, end = " ")
    print()

      1
    1 2 1
  1 2 3 1 2

In [32]:
for i in range(n):
    for j in range(i+1):
        print(chr(65+i), end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [33]:
for i in range(n):
    for j in range(i+1):
        print(chr(65+j), end=" ")
    print()

A
A B
A B C
A B C D
A B C D E